.gpt3__features{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 6rem;
}

.gpt3__features-header{
flex: 1;
display: flex;
justify-content: flex-start;
flex-direction: column;
align-items: flex-start;
margin-right: 5rem;
}


.gpt3__features-header h1{
    width: 426px;
    font-family: var(font-family);
font-weight: 800;
font-size: 34px;
line-height: 45px;
background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.gpt3__features-header p{
margin-top: 2rem;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 30px;
color: #FF8A71;}



.gpt3__features-container{
   flex: 2;
    margin-left: 2rem;
}

@media screen and (max-width: 990px) {
    .gpt3__features {
        flex-direction: column;
    }

    .gpt3__features-heading {
        margin: 0 0 2rem 0;
    }
}


@media screen and (max-width: 550px) {
    .gpt3__features-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
}